* {
  margin: 0px;
  padding: 0px;
}
input {
  margin: 1%;
}
body {
  margin: 1%;
}
Button {
  margin: 3px;
}
.header > * {
  text-align: center;
}
textarea {
  width: 70%;
  height: 70%;
  margin: 1% auto;
}

.textarea {
  display: flex;
  align-items: center;
}
